{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="static/css/about.css">
{% endblock %}
{% block content %}
  <header class="about-header">
    
    <div class="about-main-header">
      <img src="static/img/vicky.jpg" />
      <h1> Abhishek </h1>
    </div>
    
    <section class="about-main-body">
      <p class="about-main-content"> Hello! My name is Abhishek. I work as Technical support engineer for OpenShift at Red Hat. I have 4 years of industry experience in DevOps and support to quickly deliver code, diagnose and fix the issue. Has good knowledge in Linux, cloud and cloud-native technologies. I am interested in learning new tools and technologies which help and improve Cloud-native based solution and adoption at industry level.</p> 
      
      <a href="{{ url_for('home') }}">
          <i class="fa fa-home about-icon"></i> 
      </a>
      <a href="https://www.twitter.com/vicky18dec/" target="_blank">
        <i class="fab fa-twitter about-icon"></i>
      </a>
      <a href="https://github.com/garbagego" target="_blank">
        <i class="fab fa-github-alt about-icon"></i>
      </a>
      </a>
      <a href="https://www.linkedin.com/in/abhishek18dec/" target="_blank">
        <i class="fab fa-linkedin-in about-icon"></i>
      </a>
    </section>
  </header>
  <main>
    <section>
      <h3>Courses & Workshops</h3>
      <article class='course'>
        <div class='title'>
          <h4>Udacity: Intro to HTML and CSS</h4>
        </div>
        <div class="descrition">
          <p>Build styled, well-structured websites. Learn how to use HTML5 standard to create websites. Understand CSS syntax, selectors, and units. Learn about code editors and a browser's Developer Tools.</p>
        </div>
      </article>
      <article class='course'>
        <div class='title'>
          <h4>Udemy: The Web Developer Bootcamp</h4>
        </div>
        <div class="descrition">
          <p>Learn how to create full-stack web applications from scratch using HTML, CSS, JavaScript, jQuery, VanillaJS, NodeJS, MongoDB.</p>
        </div>
      </article>
      <article class='course'>
        <div class='title'>
          <h4>EdX: Web Programming with JavaScript</h4>
        </div>
        <div class="descrition">
          <p>Learn how to create web apps and prototypes with JavaScript, represent and exchange data using JavaScript Object Notation (JSON), and how to access RESTful APIs on the web.</p>
        </div>
      </article>
      <article class='course'>
        <div class='title'>
          <h4>Django Girls: 2-Day Workshops</h4>
        </div>
        <div class="descrition">
          <p>Learn back-end development with simple blog application using Django  framework.</p>
        </div>
      </article>
    </section>
    <section>
      <h3>Skills</h3>
      <div class='skills'>
        <div class='column'>
          <h4>Good knowledge</h4>
          <ul>
            <li>HTML5</li>
            <li>CSS</li>
            <li>JavaScript ES5/6</li>
            <li>SQL</li>
          </ul>
        </div>
        <div class='column'>
          <h4>Basic knowledge</h4>
          <ul>
            <li>jQuery</li>
            <li>NodeJS</li>
            <li>MongoDB</li>
            <li>Django</li>
          </ul>
        </div>
        <div>
          <h4>Languages</h4>
          <p>🇵🇱 Polish - Native speaker</p>
          <p>🇬🇧 English - Proficient C1/C2</p>
          <p>🇫🇷 French - Advanced - C1</p>
          <p>🇪🇸 Spanish - Intermediate - B1/B2</p>
          <p>🇩🇪 German - Elementary / Communicative - A2</p>
        </div>
      </div>
    </section>

    <section>
      <h3>Education</h3>
      <article>
        <div class='school'>
          <span>2015-2018</span> <strong>Octocats tech academy</strong>
        </div>
        <div class="descrition">
          Bechelor Degree of Octorobotics
        </div>
      </article>
      <article>
        <div class='school'>
          <span>2012-2015</span> <strong>Underwater kittens high school</strong>
        </div>
        <div>
          Main subject: Cathemathics
        </div>
      </article>
    </section>
    <section>
      <h3>Experience</h3>
      <article>
        <div class='job-title'>
          <span>03.2018 - 06.2018</span> <strong>Tentacles Company</strong><br> <strong>Position:</strong> Web developer Intern
        </div>
        <div>
          <p><strong>Tech stack:</strong> HTML5 / CSS / JavaScript / jQuery</p>
          <ul class="job-description">
            <li>Develop web application for Octopoda departments</li>
            <li>Implement UI (front-end site) based on received graphic design and requirements</li>
            <li>Co-operate with the back-end team </li>
          </ul>
        </div>
      </article>
    </section>
  </main>
{% endblock %}

