<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/about.css">

<style>
 header {
      background-color: white;
      }

.fa {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 2.2em;
  width: 2.2em;
  height: 2.2em;
  line-height: 2.2em;
  margin: 5px;
  text-align: center;
}

a .fa {
  color: black;


hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

</style>


</head>

<body>
  <header>
    <div>
      <img src="static/img/vicky.jpg" />
    </div>
    <section>
      <p> <font size="5"; color="black"> Hello! My name is Abhishek. I work as Technical support engineer for OpenShift at Red Hat. I have 4 years of industry experience in DevOps and support to quickly deliver code, diagnose and fix the issue. Has good knowledge in Linux, cloud and cloud-native technologies. I am interested in learning new tools and technologies which help and improve Cloud-native based solution and adoption at industry level.</font></p> 
      
      <a href="{{ url_for('home') }}">
          <i class="fa fa-home"></i> 
      </a>
      <a href="https://www.twitter.com/vicky18dec/" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://github.com/garbagego" target="_blank">
        <i class="fab fa-github-alt"></i>
      </a>
      </a>
      <a href="https://www.linkedin.com/in/abhishek18dec/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </section>
  </header>

<hr>

  <main>
    <section>
      <h3>Intertests</h3>
      <article class='course'>
        <div class='title'>
          <h4>Python</h4>
        </div>
        <div class="descrition">
          <p>Currently learning python for scripting and automating daily work and for web framwork using flask.</p>
        </div>
       </article>
      </section>
    <section>
      <h3>Skills</h3>
      <div class='skills'>
        <div class='column'>
          <h4>Good knowledge</h4>
          <ul>
            <li>OpenShift enterprise ready kubernetes admin</li>
            <li>CICD/Devops (Jenkins, Nexus, Gitlab)</li>
            <li>Prometehus, Grafana, Alertmanager (Monitoring stack)</li>
            <li>Linux Admin (Redhat enterprise linux)</li>
          </ul>
        </div>
        <div class='column'>
          <h4>Basic knowledge</h4>
          <ul>
            <li>Python, Bash scripting </li>
            <li>Ansible automation</li>
            <li>Golang</li>
          </ul>
        </div>
  
      </div>
    </section>

    <section>
      <h3>Education</h3>
      <article>
        <div class='school'>
          <span>2011-2015</span> <strong>Dehradun Institute of technology</strong>
        </div>
        <div class="descrition">
          Btech. Electronics & Communication
        </div>
      </article>
      <article>
        <div class='school'>
          <span>2008-2010</span> <strong>Indian Public High School</strong>
        </div>
        <div>
           Senior Secondary: Science
        </div>
      </article>
    </section>
    <section>
      <h3>Experience</h3>
      <article>
        <div class='job-title'>
          <span>April 2018 - Present</span> <strong>Red Hat</strong><br> <strong>Position:</strong> Technical Support Engineer
        </div>
        <div>
          <ul class="job-description">
            <li>Providing customer support for OpenShift XPaas Platform</li>
            <li>Contributing to external and internal knowledge base article</li>
            <li>Working in conjuction with QA and Engineering team for Product issue and enchancement</li>
            <li>Involed in internship program and skill bost sessions for new hires</li>
          </ul>           
        </div>

        <div class='job-title'>
          <span>Dec 2015 - March 2018</span> <strong>Cognizant</strong><br> <strong>Position:</strong> Devops Engineer
        </div>
        <div>
          <ul class="job-description">
            <li>Linux administrator for instrallating and Maintaing Devops tools</li>
            <li>Created CICD pipeline for Dev and QA for various application/solutions and automated pipeline using python & bash</li>
            <li>Containerize application for the various internal Devloper teams</li>
            <li>Created various solution around automated applucation lifecycle development</li>
          </ul>
        </div>

      </article>
    </section>
  </main>


<!--
   <div class="wrapper-footer">
      <div class="container">
        <footer class="footer" style="align-items: center;">
<a href="https://github.com/garbagego"><i class="fab fa-github"></i></a>
<a href="https://www.twitter.com/vicky18dec"><i class="fab fa-twitter"></i></a>
<a href="https://www.linkedin.com/in/abhishek18dec/" target="_blank"><i class="fab fa-linkedin-in"></i></a>    
         </footer>
      </div>
   </div>
-->

        <!-- Google Analytics -->
        <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-112161421-1', 'auto');
                ga('send', 'pageview', {
                  'page': '/',
                  'title': ''
                });
        </script>
        <!-- End Google Analytics -->

</body>
</html>

