{% extends "layout.html" %} {% block style %}
<link href="/static/css/blog.css" rel="stylesheet" />
{% endblock %} {% block content %}
<!-- Page Header -->

<header class="masthead">
  <!-- div class="overlay"></div --> 
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
            <h1>Abhishek's Blog</h1>
          <span class="subheading">Kubernetes & Devops concepts</span>
        </div>
      </div>
    </div>
  </div>

</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="{{ url_for('blogpost') }}">
          <h2 class="post-title">
            Default Kubernetes Authentication Mechanism
          </h2>
          <h4 class="post-subtitle">
            Lel's see few kubernetes authentication mechanism
            <li>1. x509 client cert</li>
          </h4>
        </a>
      </div>
      <hr />
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            My Dummy Post 1
          </h2>
        </a>
        <!--       <p class="post-meta">Posted by
          <a href="#">Start Bootstrap</a>
          on September 18, 2019</p> -->
      </div>
      <hr />
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            My Dummy post 2
          </h2>
          <h3 class="post-subtitle">
            Work in progress .....
          </h3>
        </a>
      </div>
      <hr />
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            Failure is not an option
          </h2>
          <h3 class="post-subtitle">
            Many say exploration is part of our destiny, but it’s actually our
            duty to future generations.
          </h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#">Start Bootstrap</a>
          on July 8, 2019
        </p>
      </div>
      <hr />
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn float-right post-btn" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
