/* @import url("https://fonts.googleapis.com/css?family=Raleway"); */

body {
  margin: 0;
  font-family: Lora, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.8em;
}

article {
  padding: 0 1em;
}

section {
  margin: 1em;
  padding: 1em;
}

header,
main,
footer {
  margin: 0 auto;
}

.about-header {
  padding: 4em;
  text-align: center;
  color: white;
  position: relative;
}
.about-header::after {
  content: "";
  background-color: white;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.about-header section {
  margin: 0 auto;
  max-width: 640px;
}

.about-header img {
  border-radius: 50%;
  max-width: 150px;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
}

h3,
h4 {
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.about-main-header {
  margin-top: 2em;
}
.about-main-header h1 {
  margin: 0.3em 0;
}
.about-main-body {
  padding-bottom: 0;
}
.about-main-content {
  font-size: 5;
  letter-spacing: 0.8px;
  line-height: 1.3;
  color: black;
}

.about-icon {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 2.2em;
  width: 2.2em;
  height: 2.2em;
  line-height: 2.2em;
  margin: 5px;
  text-align: center;
  color: black;
}
.about-icon:hover {
  background-color: #fff;
  color: #889499;
}
.course,
.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  color: #0085a1;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.course .descrition {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.course .descrition p {
  padding-left: 1em;
}

.skills .column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.skills .column ul,
ul.job-description {
  list-style-type: none;
}

.skills .column ul > li:before {
  content: "►";
  padding-right: 0.5em;
  color: #0085a1;
}

.school,
.job-title {
  text-transform: capitalize;
}

.school span,
.job-title span {
  color: #889499;
  text-decoration: underline;
}

ul.job-description li:before {
  content: "✔";
  padding-right: 0.5em;
  color: #0085a1;
}
@media only screen and (max-width: 992px) {
  .about-main-header {
    margin-top: 3em;
  }
}
@media only screen and (max-width: 768px) {
  .course {
    display: block;
  }

  .course .title,
  .course .descrition {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  section {
    padding-left: 0;
    padding-right: 0;
  }
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }

  footer {
    text-align: center;
  }
  .about-main-content {
    font-size: 18px;
  }
  .about-header {
    padding-right: 1em;
    padding-left: 1em;
  }
  .about-main-body {
    padding: 0;
  }
}
