.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 16px;
}
.wrapper-footer a {
  color: #505c63;
  transition: all 0.2s;
  line-height: 32px;
}

.wrapper-footer a:focus,
.wrapper-footer a:hover {
  opacity: 0.7;
}

.wrapper-footer .fab {
  margin-left: 3px;
  margin-right: 3px;
  align-items: center !important;
  justify-content: center !important;
}
.wrapper-footer p {
  margin: 0;
  line-height: normal;
}
.fa-heart {
  color: #f34e4e;
}
.fa-coffee {
  color: #6e1d1d;
}
.footer-divider {
  height: 18px;
  width: 2px;
  background-color: #0085a1;
  margin-left: 10px;
  margin-right: 10px;
}
@media only screen and (max-width: 576px) {
  .wrapper-footer {
    flex-direction: column;
  }
  .footer-divider {
    display: none;
  }
}
