#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: #eee;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  font-weight: 1000;
  color: #343a40;
}

#mainNav .navbar-toggler {
  font-size: 20px;
  font-weight: 1000;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 20px;
  font-weight: 1000;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: 0 0;
  }

  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }

  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }

  #mainNav .navbar-nav > li.nav-item > a:focus,
  #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.2);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    transition: background-color 0.2s;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }

  #mainNav.is-fixed {
    position: fixed;
    top: -67px;
    transition: transform 0.2s;
    border-bottom: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.9);
  }

  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }

  #mainNav.is-fixed .navbar-brand:focus,
  #mainNav.is-fixed .navbar-brand:hover {
    color: #0085a1;
  }

  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }

  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus,
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085a1;
  }

  #mainNav.is-visible {
    transform: translate3d(0, 100%, 0);
  }
}
